button[b-w39l8ouqk4] {
    margin: auto;
    color: white;
    background-color: purple;
    border-radius: 4px;
    border-width: 0;
    transition: 500ms;
    width: 15vw;
    height: 10vh;
    font-size: x-large;
}

button:hover[b-w39l8ouqk4] {
    cursor: pointer;
    opacity: .7;
}

button:active[b-w39l8ouqk4] {
    opacity: 1;
}

.bar[b-w39l8ouqk4] {
    width: 1vw;
    background-color: purple;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    transition: 200ms;
}

.container[b-w39l8ouqk4] {
    display: flex;
    height: 50vh;
    width: 70vw;
    background-color: lightpink;
}

.btnContainer[b-w39l8ouqk4] {
    margin: 2vh auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}