@page "/Sorting"
@rendermode InteractiveServer
@inject IJSRuntime JS

<PageTitle>Sorting</PageTitle>

<div class="container">
    @foreach (double i in bars) {
        double top = 50.0 - i;
        string marginTop = "" + top + "vh";
        string height = "" + i + "vh";
        <div class="bar" style="margin-top:@marginTop;height:@height;"></div>
    }
</div>
<div class="btnContainer">
    <button @onclick="MakeList">New List</button>
    <button @onclick="SortBars">Sort</button>
</div>

@code {
    int num = 0;
    private static int amount = 400;
    double[] bars = new double[amount];
    
    private void MakeList() {
        num = 0;
        bars = new double[amount];
        Random rnd = new Random();
        for(int i = 0; i < amount; i++) {
            bars[i] = rnd.NextDouble() * 49;
        }
    }

    private async void SortBars() {
        if(num == amount) {
            Console.WriteLine("\nDONE");
            return;
        }
        if(bars[amount - 1] == 0) return;
        
        bool render = InsertionSort(num++);
        if(render) {
            await InvokeAsync(StateHasChanged);
            await Task.Yield();
        }
        Thread.Sleep(50);
        Console.Write("|");
        SortBars();
    }

    private bool InsertionSort(int index) {
        int b = 0;
        while(b < index) {
            if(bars[index] < bars[b]) {
                int s = index;
                double temp = bars[index];
                while(s > b) {
                    bars[s] = bars[s - 1];
                    s--;
                }
                bars[b] = temp;
                return true;
            }
            b++;
        }

        return false;
    }
}