@page "/Sorting"
@rendermode InteractiveServer
@inject IJSRuntime JS

<PageTitle>Sorting</PageTitle>
<div class="btnContainer"><button @onclick="MakeList">Randomize</button></div>
<div class="container">
    @foreach (double i in bars) {
        double top = 50.0 - i;
        string marginTop = "" + top + "vh";
        string height = "" + i + "vh";
        <div class="bar" style="margin-top:@marginTop;height:@height;"></div>
    }
</div>
<div class="btnContainer">
    <button @onclick="InsertionSortBars">Insertion Sort</button>
    <button @onclick="MergeSortBars">Merge Sort</button>
    <button>Bubble Sort</button>
</div>

@code {

    int num = 0;
    private static int amount = 400;
    double[] bars = new double[amount];

    protected override async Task OnInitializedAsync() {
        MakeList();
        await ForceRender(true);
    }

    private async Task ForceRender(bool value) {
        if(value) {
            await InvokeAsync(StateHasChanged);
            await Task.Yield();
        }
    }
    
    private void MakeList() {
        num = 0;
        bars = new double[amount];
        Random rnd = new Random();
        for(int i = 0; i < amount; i++) {
            bars[i] = rnd.NextDouble() * 49;
        }
    }

    private async void MergeSortBars() {
        double[] tmpBars = new double[amount];
        Array.Copy(bars, tmpBars, amount);
        await BreakUpArray(tmpBars, 0, amount / 2, amount);
    }

    private void SortSmall(int start, int end) {
        int index = start;
        while(index < end) InsertionSort(start, index++);
    }

    private async Task BreakUpArray(double[] tmpBars, int start, int middle, int end) {
        if(middle < start || middle == end) return;
        if(end - start + 1 <= 5) SortSmall(start, end);
        int m1 = ((middle - start + 1) / 2) + start;
        int m2 = ((end - middle + 1) / 2) + middle;
        await BreakUpArray(tmpBars, start, m1, middle);
        await BreakUpArray(tmpBars, middle + 1, m2, end);
        await MergeSort(tmpBars, start, middle, end);
    }

    private async Task MergeSort(double[] tmpBars, int start1, int start2, int end3) {
        int start = start1;
        int outIndex = start1;
        int end1 = start2;
        int end2 = start2 + 1;
        int start3 = end2;
        int lowest = -1;
        while(outIndex < end3) {
            lowest = -1;
            if(start1 < end1) {
                if(start2 < end2) {
                    if(tmpBars[start1] <= tmpBars[start2]) lowest = start1;
                    else lowest = start2;
                    if(start3 == end3 && lowest == start2) start2++;
                }
                if(start3 < end3) {
                    if(lowest != -1) {
                        bool larger = tmpBars[lowest] > tmpBars[start3];
                        if(!larger && lowest == start2) start2++;
                        else if(larger) lowest = start3++;
                    } else {
                        if(tmpBars[start1] <= tmpBars[start3]) lowest = start1;
                        else lowest = start3++;
                    }
                }
                if(lowest == -1 || lowest == start1) lowest = start1++;
            } else if(start2 < end2) {
                if(start3 < end3) {
                    if(tmpBars[start2] <= tmpBars[start3]) lowest = start2;
                    else lowest = start3++;
                } else lowest = start2;
                if(lowest == start2) lowest = start2++;
            } else lowest = start3++;

            bars[outIndex++] = tmpBars[lowest];
            Thread.Sleep(5);
            await ForceRender(true);
        }
        for(int i = start; i < end3; i++) tmpBars[i] = bars[i];
    }

    private async void InsertionSortBars() {
        if(num == amount) return;
        bool render = InsertionSort(0, num++);
        await ForceRender(render);
        Thread.Sleep(20);
        InsertionSortBars();
    }

    private bool InsertionSort(int b, int index) {
        while(b < index) {
            if(bars[index] < bars[b]) {
                int s = index;
                double temp = bars[index];
                while(s > b) {
                    bars[s] = bars[s - 1];
                    s--;
                }
                bars[b] = temp;
                return true;
            }
            b++;
        }

        return false;
    }
}