@page "/TimeData"
@attribute [StreamRendering]
@inject IConfiguration Config

<PageTitle>Algorithm Averages</PageTitle>

<h1>Sorting Algorithm Averages</h1>

<p>The average time it takes each algorithm to sort the list of numbers.</p>

@if (times == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Algorithm</th>
                <th>Average Time (in nanoseconds)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (SortTime time in times)
            {
                <tr>
                    <td>@time.algorithm</td>
                    <td>@time.avgTimeNanoseconds</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<SortTime>? times;

    protected override async Task OnInitializedAsync()
    {
        SortTimeDatabase connection = new SortTimeDatabase(Config);
        times = connection.GetTimes();
        await InvokeAsync(StateHasChanged);
    }
}